.DS_Store
/voting-poll/project/boot
/voting-poll/target
/voting-poll/.ensime
/voting-poll/.ensime_lucene
/voting-poll/.ensime_cache
/voting-poll/.ensime_snapshot
/voting-poll/ensime.sbt
/voting-poll/TAGS
/voting-poll/\#*#
/voting-poll/*~
/voting-poll/.#*
/voting-poll/.lib
/voting-poll/.history
/voting-poll/.*.swp
/voting-poll/.idea
/voting-poll/.idea/*
/voting-poll/.idea_modules
/voting-poll/.run/
/voting-poll/out/
/voting-poll/.vscode/
/voting-poll/.DS_Store
/voting-poll/.sbtrc
/voting-poll/*.sublime-project
/voting-poll/*.sublime-workspace
/voting-poll/tests.iml
/voting-poll/# Auto-copied by sbt-microsites
/voting-poll/docs/src/main/tut/contributing.md
/voting-poll/.ignore
/voting-poll/result*
/voting-poll/metals.sbt
/voting-poll/.bloop/
/voting-poll/.metals/
/voting-poll/site/
/voting-poll/.bsp/
/voting-poll/scripts/
/voting-poll//logs/
/voting-poll/.envrc
/voting-poll/.direnv/
/voting-poll/modules/shared_data/src/main/resources/application.conf
