/my-hackathon-project/project/boot
/my-hackathon-project/target
/my-hackathon-project/.ensime
/my-hackathon-project/.ensime_lucene
/my-hackathon-project/.ensime_cache
/my-hackathon-project/.ensime_snapshot
/my-hackathon-project/ensime.sbt
/my-hackathon-project/TAGS
/my-hackathon-project/\#*#
/my-hackathon-project/*~
/my-hackathon-project/.#*
/my-hackathon-project/.lib
/my-hackathon-project/.history
/my-hackathon-project/.*.swp
/my-hackathon-project/.idea
/my-hackathon-project/.idea/*
/my-hackathon-project/.idea_modules
/my-hackathon-project/.run/
/my-hackathon-project/out/
/my-hackathon-project/.vscode/
/my-hackathon-project/.DS_Store
/my-hackathon-project/.sbtrc
/my-hackathon-project/*.sublime-project
/my-hackathon-project/*.sublime-workspace
/my-hackathon-project/tests.iml
/my-hackathon-project/# Auto-copied by sbt-microsites
/my-hackathon-project/docs/src/main/tut/contributing.md
/my-hackathon-project/.ignore
/my-hackathon-project/result*
/my-hackathon-project/metals.sbt
/my-hackathon-project/.bloop/
/my-hackathon-project/.metals/
/my-hackathon-project/site/
/my-hackathon-project/.bsp/
/my-hackathon-project/scripts/
/my-hackathon-project//logs/
/my-hackathon-project/.envrc
/my-hackathon-project/.direnv/
/my-hackathon-project/modules/shared_data/src/main/resources/application.conf
